[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/javascript"]
	path = pack/plugins/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/typescript"]
	path = pack/plugins/start/typescript
	url = https://github.com/leafgarland/typescript-vim.git
